/* Header */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    /* Header */

    position: sticky;
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-around;

    align-items: center;


    background: #1A0B2E;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);

}

.text {
    color: white;
    display: flex;
    gap: 90px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

}

.text1 {
    left: 100px;

}


/* Background */

.background {
    position: absolute;
    width: 100vw;
    height: 270vh;



    background: #11071F;

}